h1{
    color: rgb(0, 0, 0);
    background-color: rgb(50, 128, 47);
}

.text{
color: rgb(255, 0, 0);
background-color: blueviolet;
}
#text2 {
background-color: darkgoldenrod;
}
.lightblue {
    color: lightblue;
}
.flex {
    display: flex;
}
table,
 th,
 td{
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 2px solid black
}